<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationPathName" value="SampleConsoleApp.exe" />
    <add key="Arguments" value="-c config.json -S" />
    <add key="RebootTime" value="06:30|12:00|16:03|23:00" />

    <!--unit: Minute-->
    <add key="TimerInterval" value="5"/>

    <!--unit: MB-->
    <add key="WorkingSetThreshold" value="60"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>